In [1]:
import pandas as pd
df=pd.read_csv('df_fr_new.csv')
df.head()
df=df.dropna()

In [2]:
from transformers import pipeline
en_fr_trnslator=pipeline('translation_en_to_fr')

def tokn_phrase_traduction(text):
    
    list_phrase=str(text).lower().replace(',','___').replace('.','___').split('___')
    
    return ' '.join([en_fr_trnslator(i)[0]['translation_text'] for i in list_phrase ])

No model was supplied, defaulted to t5-base (https://huggingface.co/t5-base)
C:\anaconda\lib\site-packages\transformers\models\t5\tokenization_t5_fast.py:156: FutureWarning: This tokenizer was incorrectly instantiated with a model max length of 512 which will be corrected in Transformers v5.
For now, this behavior is kept to avoid breaking backwards compatibility when padding/encoding with `truncation is True`.
- Be aware that you SHOULD NOT rely on t5-base automatically truncating your input to 512 when padding/encoding.
- If you want to encode/pad to sequences longer than 512 you can either instantiate this tokenizer with `model_max_length` or pass `max_length` when encoding/padding.
- To avoid this warning, please instantiate this tokenizer with `model_max_length` set to your preferred value.
  warnings.warn(

In [3]:
df['text_image_fr_new']=[tokn_phrase_traduction(txt) for txt in df.text_image]
df.to_csv('df_en_to_fr.csv')

Your input_length: 455 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 376 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 284 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 353 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 453 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 482 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 297 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Token indices sequence length is longer than the specified maximum sequence length for this model (852 > 512). Running this sequence through the model will result in indexing errors
Your input_length: 852 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 367 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 295 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 573 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 436 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 291 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 304 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 291 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 346 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 373 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 460 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 376 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 328 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 411 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 387 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 390 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 278 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 418 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 477 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 339 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 566 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 596 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 341 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 555 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 313 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 372 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 448 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 480 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 272 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 367 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 401 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 367 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 389 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 276 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 277 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)
Your input_length: 292 is bigger than 0.9 * max_length: 300. You might consider increasing your max_length manually, e.g. translator('...', max_length=400)

In [ ]:


#df.to_csv('df_en_to_fr.csv')

In [4]:
import pandas as pd
df=pd.read_csv('df_en_to_fr.csv')
df.head()

,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,filename,type,text_image,type_char,text_image_fr,text_image_fr_new
0,0,0,0,img_0000000.jpg,0,FACTURE\n\nLOGO\n\nJoanna Binet\n48 Coubertin\...,facture,[{'translation_text': 'facture logo joanna bin...,facture logo joanna binet 48 coubertin 31400 p...
1,1,1,1,img_0000001.jpg,0,Joanna Binet\n48 Coubertin\n31400 Paris\n\nFAC...,facture,[{'translation_text': 'joanna binet 48 coubert...,joanna binet 48 coubertin 31400 paris facture ...
2,2,2,2,img_0000002.jpg,0,FACTURE\n\nMon entreprise : Nom de la société\...,facture,[{'translation_text': 'facture mon entreprise ...,facture mon entreprise : nom de la société adr...
3,3,3,3,img_0000003.jpg,0,Joanna Binet\n48 Coubertin\n31400 Paris\n\nFAC...,facture,[{'translation_text': 'joanna binet 48 coubert...,joanna binet 48 coubertin 31400 paris facture ...
4,4,4,4,img_0000004.jpg,0,Payer en ligne >\nFACTURE No\n\nSFIDELI\n\nF/0...,facture,[{'translation_text': 'payer en ligne > factur...,payer en ligne > facture no sfideli f/05 2020/...

In [2]:
import spacy

nlp = spacy.load("fr_core_news_sm")
doc = nlp("salut ")

for token in doc:
    print(token.text, token.lemma_, token.pos_, token.tag_, token.dep_,
            token.shape_, token.is_alpha, token.is_stop)

salut salut VERB VERB ROOT xxxx True False

In [5]:
import spacy

nlp = spacy.load("fr_core_news_sm")

list_token_lemma=[]
for txt in df.text_image_fr_new:
    list_token_lemma.append(' '.join([token.lemma_ for token in  nlp(txt)]))
df['text_image_fr_new_lemma']=list_token_lemma
df.to_csv('df_en_to_fr_lemma.csv')

In [6]:
import pandas as pd
df=pd.read_csv('df_en_to_fr_lemma.csv')
df.head()

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,filename,type,text_image,type_char,text_image_fr,text_image_fr_new,text_image_fr_new_lemma
0,0,0,0,0,img_0000000.jpg,0,FACTURE\n\nLOGO\n\nJoanna Binet\n48 Coubertin\...,facture,[{'translation_text': 'facture logo joanna bin...,facture logo joanna binet 48 coubertin 31400 p...,factur logo joanna binet 48 coubertin 31400 pa...
1,1,1,1,1,img_0000001.jpg,0,Joanna Binet\n48 Coubertin\n31400 Paris\n\nFAC...,facture,[{'translation_text': 'joanna binet 48 coubert...,joanna binet 48 coubertin 31400 paris facture ...,joanner binet 48 coubertin 31400 pari factur f...
2,2,2,2,2,img_0000002.jpg,0,FACTURE\n\nMon entreprise : Nom de la société\...,facture,[{'translation_text': 'facture mon entreprise ...,facture mon entreprise : nom de la société adr...,factur mon entreprise : nom de le société adre...
3,3,3,3,3,img_0000003.jpg,0,Joanna Binet\n48 Coubertin\n31400 Paris\n\nFAC...,facture,[{'translation_text': 'joanna binet 48 coubert...,joanna binet 48 coubertin 31400 paris facture ...,joanner binet 48 coubertin 31400 pari factur à...
4,4,4,4,4,img_0000004.jpg,0,Payer en ligne >\nFACTURE No\n\nSFIDELI\n\nF/0...,facture,[{'translation_text': 'payer en ligne > factur...,payer en ligne > facture no sfideli f/05 2020/...,payer en ligne > factur no sfideli f/05 2020/0...